PRT=your_port_here
PLAID_CLIENT_ID=your_client_id_here
PLAID_SECRET=your_secret_here
PLAID_ENV=sandbox
JWT_SECRET=your_jwt_secret_here
ENCRYPTION_KEY=your_generated_encryption_key_here
HASH_SALT=your_secret_salt_here